:root{
--accent-color: #c8a2a1;
--dark: #003431;


}

body{
    background-color: #b4cac8;
}

header {
    display:flex;
    justify-content: space-between;
    background-color:var(--dark);
    align-items: center;
    margin-bottom: 0%;
}

nav ul {
    display:flex;
    list-style: none;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    margin: auto 30px;
    font-weight: bold; 
    text-decoration: underline var(--accent-color) 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

h1{
    background-color: var(--accent-color);
    color:var(--dark);
    font-size: 3rem;
    font-family: 'lucida handwriting',sans-serif;
}

.background-img {
background-image: url(./dark-leaves-green-aesthetic.jpg);
margin-top: 0;
height: 200px;
/* background-repeat: no-repeat; */
position: relative;
width: 100%;
}

h2 {
    margin: 0;
    background-color:var(--accent-color);
    color: var(--dark);
    font-size: 2.25rem;
    float: right;
    align-content: center;
    position: relative;
    top: 130px;
    right: 60px;
}

h3 {
    font-size: 2rem
}
#about-me p {
    color: #1f403E;
    width: 80%;
    padding: 0px 10px;
    font-size: 1.1rem;
}
.section-headers {
    margin: 10px 20px;
    color: #8d6f78;
    font-size: 2rem;
    width: 10%

}

.section-block {
    display: flex;
    margin-top: 10px;
}

#my-work {
    font-size: 1.1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    height:auto;
}
#projects {
    display: flex;
    flex-direction: column;
}

#main-project {
    flex: 1 1 100%;
    border: 10px solid var(--accent-color);
    height: 300px;
    background-image: url(./Horiseon\ page\ top.jpg);
    background-size:cover;
    margin: 10px 20px;

}

#projects a {
    text-decoration: none;
    color:#003431;
}

.small-project {
    text-align: center;
    border: 10px solid var(--accent-color);
    /* background-image: url(./surf.jpg); */
    margin: 10px 20px;
    height: 300px;
    position: relative;
}

#sp-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sp-wrapper a {
    width: 50%;
    /* text-decoration: none;
    color:#003431; */
}
 
.main-header {
    display:inline-block;
    background-color: #c8a2a1;
    position: relative;
    top: 225px;
    font-size: 10px;
}

.small-header {
    display:inline-block;
    background-color: #c8a2a1;
    position: absolute;
    top: 70px;
    left: 0px;
    font-size: 10px;
}
h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
}

.right-side {
    border-left: #8d6f78 5px solid;
    width: 100%;
}

#contact-info {
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    display:flex;
    list-style: none;
    justify-content: space-between; 
    color: #003431;
    text-decoration: underline 3px solid #8d6f78  ;
    margin: 10px 5px
}
   
#contact-me li a {
    text-decoration: none;
    color:#003431
}

#surf-report {
 background-image: url(./surf.jpg);
 background-size:cover;
}

#calculator {
    background-image: url(./calculator.jpg); 
    background-size:cover;
}
#led-wall {
    background-image: url(./LED-Wall.webp); 
    background-size:cover;
}
#run-buddy {
    background-image: url(./running-tests.webp); 
    background-size:cover;
}
